.u-section-1 .u-sheet-1 {
  min-height: 439px;
}

.u-section-1 .u-text-1 {
  font-family: Cormorant;
  font-size: 7.5rem;
  font-weight: 600;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 75px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-family: Cormorant;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px 512px 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 11px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin: 20px 10px 46px;
  }
}.u-section-2 .u-image-1 {
  min-height: 609px;
  background-image: url("images/image31.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    min-height: 398px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 229px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 144px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 450px;
}

.u-section-3 .u-group-elements-1 {
  width: 686px;
  min-height: 32px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 116px auto 0 298px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 0 0 auto;
}

.u-section-3 .u-icon-1 {
  width: 32px;
  height: 32px;
  margin: -32px auto 0 0;
  padding: 0;
}

.u-section-3 .u-group-elements-2 {
  width: 947px;
  min-height: 32px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 195px 0 auto;
}

.u-section-3 .u-icon-2 {
  width: 32px;
  height: 32px;
  margin: 0 915px 0 0;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: -32px 0 0 auto;
}

.u-section-3 .u-group-elements-3 {
  width: 663px;
  min-height: 32px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 60px 298px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 0 0 auto;
}

.u-section-3 .u-icon-3 {
  width: 32px;
  height: 32px;
  margin: -32px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-left: 254px;
  }

  .u-section-3 .u-group-elements-2 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-group-elements-3 {
    margin-left: 277px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-elements-1 {
    margin-left: 34px;
  }

  .u-section-3 .u-group-elements-2 {
    width: 720px;
  }

  .u-section-3 .u-group-elements-3 {
    margin-left: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-elements-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-group-elements-2 {
    width: 540px;
  }

  .u-section-3 .u-group-elements-3 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-group-elements-1 {
    min-height: 44px;
    height: auto;
    width: 340px;
    margin-top: 92px;
    margin-right: -11px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 34px;
  }

  .u-section-3 .u-icon-1 {
    width: 20px;
    height: 20px;
    margin-top: -44px;
  }

  .u-section-3 .u-group-elements-2 {
    width: 319px;
    min-height: 66px;
    height: auto;
    margin-top: 23px;
    margin-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    width: 20px;
    height: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -21px;
    margin-left: 35px;
  }

  .u-section-3 .u-group-elements-3 {
    width: 340px;
    min-height: 44px;
    height: auto;
    margin-top: 27px;
    margin-right: -11px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 1px;
    margin-left: 31px;
  }

  .u-section-3 .u-icon-3 {
    width: 20px;
    height: 20px;
    margin-top: -44px;
  }
}